@media screen and ( min-width : 426px ) {

  .PlanetCard {
    transition: 0.5s ease;
  }

  .PlanetCard:hover {
    transform: scale(2) translateY(1rem);
  }

  .PlanetCard > img {
    transition: 1s ease;
  }

  .PlanetCard:hover > img {
    width: 100%;
  }

}
