.SolarSystem {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 90%;
}

.PlanetsList {
  max-width: 90%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

  .PlanetsList img {
  width: 90%;
}
